@model dynamic

@{
    ViewBag.Title = "ALM | DevOps Rangers community Bot - Frequently asked questions (FAQ)";
}

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-10">
                <h2>Frequently asked questions (FAQ)</h2>
            </div>
            <div class="col-lg-2">
                <img src="~/Content/Images/Bot.png" height="200" width="200" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Help</h3>
                If you get stuck, just ask me for 'help', I will show you a list of commands I understand.

                <h3>I am stuck. Safe me.</h3>
                No worries. We have something like a 'reset' button on your computer: ' /deleteprofile' (Do not forget the space before the slash). When you send this to me,
                I will delete the data we collected. After which you can start and connect again.
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>