@model dynamic

@{
    ViewBag.Title = "ALM | DevOps Rangers community Bot - How it works";
}

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">       
        <div class="row">
            <div class="col-lg-10">
                <h2>How it works</h2>
                I can now help you with
                <ul>
                    <li>Listing the build definitions and queue a build;</li>
                    <li>Listing the release definitions and create a release;</li>
                    <li>I can also show a list of approvals waiting for you and help you with approving or rejecting them;</li>
                </ul>
            </div>
            <div class="col-lg-2">
                <img src="~/Content/Images/Bot.png" height="200" width="200"/>
            </div>
        </div>
        
        <h3>Connect</h3>
        <div class="row">
            <div class="col-lg-6">
                To start, you first have to connect to your Visual Studio Team Services (VSTS) account and your Team Project.
                <br /><br />
                Type ‘connect’ to start.
            </div>
            <div class="col-lg-6 text-right">
                <span style="display: inline-block; width: 125px; text-align: left;">Skype</span>
                <span style="display: inline-block; width: 125px; text-align: left;">Slack</span>
                <span style="display: inline-block; width: 125px; text-align: left;">Teams</span>
                <br />
                <a href="~/Content/Images/HowItWorks/Skype/connect_1.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Skype/connect_1.png" height="90" width="125"/>
                </a>
                <a href="~/Content/Images/HowItWorks/Slack/connect_1.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Slack/connect_1.png" height="90" width="125"/>
                </a>
                <a href="~/Content/Images/HowItWorks/Teams/connect_1.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Teams/connect_1.png" height="90" width="125"/>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                I will send you a message with a link ‘Authentication is required’ where you can grant me access to your VSTS account. 
            </div>
            <div class="col-lg-6 text-right">
                <a href="~/Content/Images/HowItWorks/Teams/connect_2.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Teams/connect_2.png" height="300" width="300"/>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                After accepting, you will be redirected to a page with a pin number.
                <br /><br />
                Copy the pin number back into our conversation, after which I will ask you for the account you want to connect. 
            </div>
            <div class="col-lg-6 text-right">
                <a href="~/Content/Images/HowItWorks/Skype/connect_3.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Skype/connect_3.png" height="90" width="125" />
                </a>
                <a href="~/Content/Images/HowItWorks/Slack/connect_3.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Slack/connect_3.png" height="90" width="125" />
                </a>
                <a href="~/Content/Images/HowItWorks/Teams/connect_3.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Teams/connect_3.png" height="90" width="125"/>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                After I connected to your account, you can select the Team Project. 
            </div>
            <div class="col-lg-6 text-right">
                <a href="~/Content/Images/HowItWorks/Skype/connect_4.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Skype/connect_4.png" height="90" width="125" />
                </a>
                <a href="~/Content/Images/HowItWorks/Slack/connect_4.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Slack/connect_4.png" height="90" width="125" />
                </a>
                <a href="~/Content/Images/HowItWorks/Teams/connect_4.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Teams/connect_4.png" height="90" width="125" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                And now I am connected to your account and Team Project. 
            </div>
            <div class="col-lg-6 text-right">
                <a href="~/Content/Images/HowItWorks/Skype/connect_5.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Skype/connect_5.png" height="90" width="125" />
                </a>
                <a href="~/Content/Images/HowItWorks/Slack/connect_5.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Slack/connect_5.png" height="90" width="125" />
                </a>
                <a href="~/Content/Images/HowItWorks/Teams/connect_5.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Teams/connect_5.png" height="90" width="125" />
                </a>
            </div>
        </div>

        <h3>Build</h3>
        <div class="row">
            <div class="col-lg-6">
                When you ask me for ‘builds’, I will give you an overview of your builds.
            </div>
            <div class="col-lg-6 text-right">
                <span style="display: inline-block; width: 125px; text-align: left;">Skype</span>
                <span style="display: inline-block; width: 125px; text-align: left;">Slack</span>
                <span style="display: inline-block; width: 125px; text-align: left;">Teams</span>
                <a href="~/Content/Images/HowItWorks/Skype/build_1.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Skype/build_1.png" height="90" width="125"/>
                </a>
                <a href="~/Content/Images/HowItWorks/Slack/build_1.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Slack/build_1.png" height="90" width="125"/>
                </a>
                <a href="~/Content/Images/HowItWorks/Teams/build_1.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Teams/build_1.png" height="90" width="125"/>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                By clicking the ‘Queue’ button, I will queue the build for you. 
            </div>
            <div class="col-lg-6 text-right">
                <a href="~/Content/Images/HowItWorks/Skype/build_2.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Skype/build_2.png" height="90" width="125" />
                </a>
                <a href="~/Content/Images/HowItWorks/Slack/build_2.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Slack/build_2.png" height="90" width="125" />
                </a>
                <a href="~/Content/Images/HowItWorks/Teams/build_2.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Teams/build_2.png" height="90" width="125" />
                </a>
            </div>
        </div>

        <h3>Release</h3>
        <div class="row">
            <div class="col-lg-6">
                I can also give you a list of your release definitions if you type ‘releases’. 
            </div>
            <div class="col-lg-6 text-right">
                <span style="display: inline-block; width: 125px; text-align: left;">Skype</span>
                <span style="display: inline-block; width: 125px; text-align: left;">Slack</span>
                <span style="display: inline-block; width: 125px; text-align: left;">Teams</span>
                <a href="~/Content/Images/HowItWorks/Skype/release_1.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Skype/release_1.png" height="90" width="125"/>
                </a>
                <a href="~/Content/Images/HowItWorks/Slack/release_1.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Slack/release_1.png" height="90" width="125"/>
                </a>
                <a href="~/Content/Images/HowItWorks/Teams/release_1.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Teams/release_1.png" height="90" width="125"/>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                If you press the ‘Create’ button, I will create a release for you. 
            </div>
            <div class="col-lg-6 text-right">
                <a href="~/Content/Images/HowItWorks/Skype/release_2.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Skype/release_2.png" height="90" width="125" />
                </a>
                <a href="~/Content/Images/HowItWorks/Slack/release_2.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Slack/release_2.png" height="90" width="125" />
                </a>
                <a href="~/Content/Images/HowItWorks/Teams/release_2.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Teams/release_2.png" height="90" width="125" />
                </a>
            </div>
        </div>
        
        <h3>Approval</h3>
        <div class="row">
            <div class="col-lg-6">
                I will list your release approvals when you type ‘approvals’. 
            </div>
            <div class="col-lg-6 text-right">
                <span style="display: inline-block; width: 125px; text-align: left;">Skype</span>
                <span style="display: inline-block; width: 125px; text-align: left;">Slack</span>
                <span style="display: inline-block; width: 125px; text-align: left;">Teams</span>
                <a href="~/Content/Images/HowItWorks/Skype/approval_1.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Skype/approval_1.png" height="90" width="125"/>
                </a>
                <a href="~/Content/Images/HowItWorks/Slack/approval_1.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Slack/approval_1.png" height="90" width="125"/>
                </a>
                <a href="~/Content/Images/HowItWorks/Teams/approval_1.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Teams/approval_1.png" height="90" width="125"/>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                Click on ‘Approve’ to approve a deployment or ‘Reject’ to reject a deployment.
                <br /><br />
                After which I will ask you for a comment. 
            </div>
            <div class="col-lg-6 text-right">
                <a href="~/Content/Images/HowItWorks/Skype/approval_2.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Skype/approval_2.png" height="90" width="125" />
                </a>
                <a href="~/Content/Images/HowItWorks/Slack/approval_2.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Slack/approval_2.png" height="90" width="125" />
                </a>
                <a href="~/Content/Images/HowItWorks/Teams/approval_2.png" target="howitworks_image">
                    <img src="~/Content/Images/HowItWorks/Teams/approval_2.png" height="90" width="125" />
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>