@model dynamic
<!--
// ———————————————————————————————
// <copyright file="Index.cshtml">
    // Licensed under the MIT License. See License.txt in the project root for license information.
    // </copyright>
// <summary>
    // The page you see after the authentication page of VSTS.
    // </summary>
// ———————————————————————————————
-->

@{
    ViewBag.Title = "Visual Studio Team Services | Bot";
}

<h1>Home</h1>