@model dynamic
<!--
// ———————————————————————————————
// <copyright file="Index.cshtml">
    // Licensed under the MIT License. See License.txt in the project root for license information.
    // </copyright>
// <summary>
    // The page you see after the authentication page of VSTS.
    // </summary>
// ———————————————————————————————
-->

@{
    ViewBag.Title = "Visual Studio Team Services | Bot";
}

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 text-center">
        <img height="200" src="~/Content/Images/Bot.png" width="200" />
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row" style="margin-top: 20px">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 text-center">
        <h2>
            Hi, I am the Visual Studio Team Services Bot (VSTS Bot). 
            <br />
            I am here to help you with interacting with Visual Studio Team Services.
        </h2>
    </div>
    <div class="col-lg-1"></div>
</div>
<hr />
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h2>Channels</h2>
        <div class="row">
            <div class="col-lg-12">
                <h3>
                    <img src="~/Content/Images/Skype.png" />
                    Skype
                </h3>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <h3>
                    <img src="~/Content/Images/Skype-for-business.png" />
                    Skype for business
                </h3>

                Click <a href="https://skypeappregistration.azurewebsites.net/bot/b7016a0c-c014-4ebc-bc99-74ef6cb78265">here</a> and follow the instructions to add me to your skype for business account.
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <h3>
                    <img src="~/Content/Images/Slack.png" />
                    Slack
                </h3>

                To enable me on Slack, click on the 'Add to Slack' button.
                <a href="https://slack.com/oauth/authorize?scope=bot&client_id=9815790944.242019136146">
                    <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png"
                         srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"/>
                </a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <h3>
                    <img src="~/Content/Images/Teams.png" />
                    Teams
                </h3>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<hr />
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h2>Support</h2>

        Please raise an issue on our github if you need any help.
        <br />
        <a href="https://github.com/ALM-Rangers/VSTS-Bot">https://github.com/ALM-Rangers/VSTS-Bot</a>
    </div>
    <div class="col-lg-2"></div>
</div>