@model dynamic
<!--
// ———————————————————————————————
// <copyright file="Index.cshtml">
    // Licensed under the MIT License. See License.txt in the project root for license information.
    // </copyright>
// <summary>
    // The page you see after the authentication page of VSTS.
    // </summary>
// ———————————————————————————————
-->

@{
    ViewBag.Title = "Visual Studio Team Services | Bot";
}

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 text-center">
        <img height="200" src="~/Content/Images/Bot.png" width="200" />
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row" style="margin-top: 20px">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 text-center">
        <h2>
            Hi, I am the Visual Studio Team Services Bot (VSTS Bot). 
            <br />
            I am here to help you with interacting with Visual Studio Team Services.
        </h2>
    </div>
    <div class="col-lg-2"></div>
</div>