<?xml version="1.0" encoding="utf-8"?>
<!--
//———————————————————————————————
// <copyright file=”name of this file, i.e. packages.config“>
// Licensed under the MIT License. See License.txt in the project root for license information.
// </copyright>
// <summary>
// Contains the references to nuget packages.
// </summary>
//———————————————————————————————
-->
<packages>
  <package id="Autofac" version="4.6.1" targetFramework="net462" />
  <package id="Castle.Core" version="4.1.1" targetFramework="net462" />
  <package id="Chronic.Signed" version="0.3.2" targetFramework="net462" />
  <package id="Desktop.Analyzers" version="1.1.0" targetFramework="net462" />
  <package id="FluentAssertions" version="4.19.3" targetFramework="net462" />
  <package id="Microsoft.AnalyzerPowerPack" version="1.1.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.Bot.Builder" version="3.11.0" targetFramework="net462" />
  <package id="Microsoft.Bot.Connector" version="3.11.1" targetFramework="net462" />
  <package id="Microsoft.Bot.Connector.DirectLine" version="3.0.2" targetFramework="net462" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="1.1.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.4.403061554" targetFramework="net462" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.9" targetFramework="net462" />
  <package id="Microsoft.TeamFoundation.DistributedTask.Common.Contracts" version="15.119.0-preview" targetFramework="net462" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Services.Client" version="15.119.0-preview" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Services.Release.Client" version="15.119.0-preview" targetFramework="net462" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net462" />
  <package id="Moq" version="4.7.99" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net462" />
  <package id="SpecFlow" version="2.2.0" targetFramework="net462" />
  <package id="SpecFlow.CustomPlugin" version="2.2.0" targetFramework="net462" />
  <package id="SpecFlow.MsTest" version="2.2.0" targetFramework="net462" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net462" developmentDependency="true" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.4.403061554" targetFramework="net462" />
  <package id="System.IO" version="4.3.0" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="net462" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.Analyzers" version="1.1.0" targetFramework="net462" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.Analyzers" version="1.1.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Hashing.Algorithms.Analyzers" version="1.1.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="TalentAgile.Specflow.TestContextInjector" version="1.2.17180.2" targetFramework="net462" />
</packages>