body {
    padding-top: 0;
    padding-bottom: 20px;
}

body, h1, h2, h3, h4, p, th {
    font-family: Segoe UI, sans-serif;
}

footer {
    text-align: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    border-radius: 0;
}

.navbar.top {
    margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

#pin {
    border: none;
    border-color: Transparent;
    cursor: default;
    font-size: 40px;
    height: 75px;
    min-width: 100%;
    overflow: auto;
    outline: none;
    text-align: center;
    width: 100%;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#pinLabel {
    font-size: 40px;
}

#copy {
    border: none;
    font-size: 36px;
}

#copy:hover {
    background-color: white;
}