<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
  <add key="AppId" value="" />
  <add key="AppScope" value="" />
  <add key="AppSecret" value="" />
  <add key="AppScope" value="" />
  <add key="AuthorizeUrl" value="" />
  <add key="EmulatorListeningUrl" value="" />
  <add key="InstrumentationKey" value="" />
  <add key="BotId" value="" />
  <add key="MicrosoftAppId" value="" />
  <add key="MicrosoftAppPassword" value="" />
</appSettings>
