<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
  <add key="AppId" value="D4BEC6CF-22F1-4672-A1B3-1F9C053B94DD" />
  <add key="AppSecret" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJjaWQiOiJkNGJlYzZjZi0yMmYxLTQ2NzItYTFiMy0xZjljMDUzYjk0ZGQiLCJjc2kiOiI3ZjQwZDIwMi01OWQxLTQ4NjktOTY4Ny0xNzFlMzZmYzYzNjMiLCJuYW1laWQiOiI1MDBiMTY2Mi0wZDFkLTRkZDQtOTY3Yi02MGMzOTZhNDJiOGQiLCJpc3MiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Nwcy52aXN1YWxzdHVkaW8uY29tIiwibmJmIjoxNDkyOTc4Mjk1LCJleHAiOjE2NTA3NDQ2OTV9.w0gGRZaZD-UaDiTpA9G42sIXfxML-OuREwDIQXU2-OvvWfH6RozH3eDDhWxKVAeN2OrJlzaq1_Mf0Ky18LQ_fFh6Dgh5cWV86k2FlRJkDkTaWoLoS-hpoXZBXCsHlbKZjRZ-K6-Nob5kCcvgmB2x3aeb7VwMNRrMqO3ciOpSFlKF2aUUVh47TbZMuxMBr6rVtMew9gPdiY0dRUgO6f3eIJl5L-AVKaUFXAbZCOnZUloerpGWLSnUyMrWkEtfb8phJs1dondE8PDubDFTZnMGM3AL1fKK8x82ivHg3eTtXuV_fXr8Mni7JOk_tFGcrzxBt-QifCNEd4OdkjhR2-9BwA" />
  <add key="AuthorizeUrl" value="https://lnpx.com:44377/Authorize" />
  <add key="InstrumentationKey" value="" />
  <add key="BotId" value="VSAR-DEMO1" />
  <add key="MicrosoftAppId" value="4a6cfbb9-8d0a-48b0-b829-69524ae5bff6" />
  <add key="MicrosoftAppPassword" value="qN6LWV9ky8xpKGDJggk1ULm" />
</appSettings>