<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="RemoveAttributes(configSource)">
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="InstrumentationKey" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BotId" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MicrosoftAppId" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MicrosoftAppPassword" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation  />
  </system.web>
</configuration>