<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="Account" value="" />
    <Parameter name="BotId" value="" />
    <Parameter name="BotSecret" value="" />
    <Parameter name="RefreshToken" value="" />
    <Parameter name="TeamProjectOne" value="Team-Services-Bot_Project-One" />
    <Parameter name="TeamProjectTwo" value="Team-Services-Bot_Project-Two" />
  </TestRunParameters>
</RunSettings>
