<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="Account" value="" />
    <Parameter name="AppId" value="" />
    <Parameter name="AppSecret" value="" />
    <Parameter name="AuthorizeUrl" value="" />
    <Parameter name="BotId" value="" />
    <Parameter name="BotSecret" value="" />
    <Parameter name="DocumentDbKey" value="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==" />
    <Parameter name="DocumentDbUri" value="https://localhost:8081" />
    <Parameter name="RefreshToken" value="" />
    <Parameter name="RefreshTokenReinitialize" value="false" />
    <Parameter name="TeamProjectOne" value="" />
    <Parameter name="TeamProjectTwo" value="" />
  </TestRunParameters>
</RunSettings>
