<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="Account" value="" />
    <Parameter name="AppId" value="" />
    <Parameter name="AppSecret" value="" />
    <Parameter name="AuthorizeUrl" value="" />
    <Parameter name="BotId" value="" />
    <Parameter name="BotSecret" value="" />
    <Parameter name="MicrosoftApplicationId" value="" />
    <Parameter name="MicrosoftApplicationPassword" value="" />
    <Parameter name="RefreshToken" value="" />
    <Parameter name="RefreshTokenReinitialize" value="false" />
    <Parameter name="TeamProjectOne" value="" />
    <Parameter name="TeamProjectTwo" value="" />
  </TestRunParameters>
</RunSettings>
