<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
  <add key="AppId" value="02CF1111-24B9-4ED9-9DC6-BA3394280026" />
  <add key="AppSecret" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJjaWQiOiIwMmNmMTExMS0yNGI5LTRlZDktOWRjNi1iYTMzOTQyODAwMjYiLCJjc2kiOiJkMTVhZmM2Ni03NDlmLTQ3OTAtOTRmNS02Njc1NWU5YTliYzciLCJuYW1laWQiOiI0MTIwMWQzNC1iODQxLTQ5NzItYjFhZC1kM2I2OGI5MDU3NjEiLCJpc3MiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Nwcy52aXN1YWxzdHVkaW8uY29tIiwibmJmIjoxNTE2NTY5MDAxLCJleHAiOjE2NzQzMzU0MDF9.PtT6M8iL7k0zRA0MLnzCwTWaqTacyWffxqSkvqh_YpXTeLiWoQUf7rH_D4lYp4b95BvfUzvZZu08KqzeU7IB3pVV2Z7lTMMlEFz1frOZX5a7PPennagb5BfZcf7nN7x64l7xRc4WYKXPEcJiWjj1YIsPRSWQFacWTIiEEUGYDXTPLcitIB0LRjXwpoMso5y0L0kKMFPHgQqvfrQ2LwxcIR2l9B1dJde3qJ15IJAolm6fKQBzrvqjvMl1XnKDliw27K2FvKsdDeWTNjGxEz1O0xHV4xh2tpHzz95lytirD5StBiZ2G7GhYW2bUz1a7cQCjO1xwxpHC_twIbJSc_y7qA" />
  <add key="AppScope" value="vso.build_execute%20vso.notification_manage%20vso.project%20vso.release_manage"/>
  <add key="AuthorizeUrl" value="https://e3439168.ngrok.io/authorize" />
  <add key="DocumentDbKey" value="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==" />
  <add key="DocumentDbUri" value="https://localhost:8081" />
  <add key="EmulatorListeningUrl" value="" />
  <add key="InstrumentationKey" value="" />
  <add key="BotId" value="Moya" />
  <add key="MicrosoftAppId" value="4a6cfbb9-8d0a-48b0-b829-69524ae5bff6" />
  <add key="MicrosoftAppPassword" value="ahsrVUMM;kzmRSP82365$[|" />
</appSettings>