<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
  <add key="AppId" value="" />
  <add key="AppSecret" value="" />
  <add key="AppScope" value="vso.agentpools_manage%20vso.build_execute%20vso.chat_manage%20vso.code_manage%20vso.code_status%20vso.connected_server%20vso.dashboards%20vso.dashboards_manage%20vso.entitlements%20vso.extension.data_write%20vso.extension_manage%20vso.gallery_acquire%20vso.gallery_manage%20vso.identity%20vso.loadtest_write%20vso.notification_manage%20vso.packaging_manage%20vso.profile_write%20vso.project_manage%20vso.release_manage%20vso.security_manage%20vso.serviceendpoint_manage%20vso.taskgroups_manage%20vso.test_write%20vso.work_write"/>
  <add key="AuthorizeUrl" value="" />
  <add key="EmulatorListeningUrl" value="" />
  <add key="InstrumentationKey" value="" />
  <add key="BotId" value="" />
  <add key="MicrosoftAppId" value="" />
  <add key="MicrosoftAppPassword" value="" />
</appSettings>
