@model dynamic

@{
    ViewBag.Title = "ALM | DevOps Rangers community Bot - Privacy statement";
}

<div>
    <h2>DevOps VSTS Bot, Privacy Statement</h2>
    <hr />
    <p>
        Effective date: March 10, 2018
    </p>
    <p>
        Welcome to the <b>DevOps VSTS Bot</b> (hereafter “Our Plugin”).
    </p>
    <p>
        Thank you for using our Plugin and making Visual Studio Team Services (VSTS) part of your daily digital conversations.
    </p>
    <p>
        <ul>
            <li>
                Our Plugin allows you to login into Visual Studio Team Services (VSTS) and authorize Slack, Skype, and Microsoft Teams Application to enable you to access VSTS resources. We do not retain or use the data thus collected for any other purposes.
            </li>
            <li>
                Our Plugin encrypts and stores your personal access token to ensure a smooth user experience when you login in future.
            </li>
            <li>
                Our Plugin merely passes through your commands to VSTS and returns results from VSTS to you. Therefore, we do not make or retain copies of your conversation or commands you provide during conversations.
            </li>
            <li>
                Your use of VSTS is governed by VSTS’s privacy statement.
            </li>
        </ul>
    </p>
    <h2>Data / Telemetry</h2>
    <hr />
    <p>
        This project collects usage data and sends it to Microsoft to help Microsoft improve its products and services. For more information about how Microsoft uses telemetry data, read the Microsoft <a href="http://go.microsoft.com/fwlink/?LinkId=521839" target="_blank">privacy statement</a>.
    </p>
    <p>
        <ul>
            <li>
                This telemetry is used for A|B testing and troubleshooting.
            </li>
            <li>
                This telemetry cannot be turned off. If you do not want telemetry sent to Microsoft, please do not use this project.
            </li>
        </ul>
    </p>
    <h2>Changes to our Privacy Statement</h2>
    <hr />
    <p>
        ALM DevOps Rangers may change the Privacy Statement from time to time as and when the Application version is modified and Users will be notified of any change in Privacy Statement through that version of the Application.
    </p>
    <h2>Contacting DevOps VSTS Bot</h2>
    <hr />
    <p>
        Questions regarding Our Plugin should be directed to <a href="https://github.com/ALM-Rangers/VSTS-Bot/issues" target="_blank">issues</a>.
    </p>
</div>